{% raw %} 

{% extends 'themes/bootstrap-fs/base.html' %}

{% load static %} 

{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div
        class="col-lg-12 d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content">
          <h3>Modern web application</h3>
          <h2>
            It's important to use cutting edge frontend libraries to build
            modern web applications.
          </h2>
          <p>
            In the Javascript land, every day emerge a new tool to help us build
            better application, however, sometimes it seems difficult to use it
            in Django templates
          </p>
          <div class="text-center text-lg-start">
            <a
              href="#"
              class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Go top</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Values Section ======= -->
<section id="values" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Why</h2>
      <p>Why this Django template was created?</p>
    </header>

    <div class="row">
      <div class="col-lg-3">
        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <img
            src="{% static 'themes/bootstrap-fs/img/values-1.png' %}"
            class="img-fluid"
            alt=""
          />
          <h3>Split the Frontend & Backend</h3>
          <p>
            Make possible for frontend developers who doesn't want to code
            Python build the pages inside django projects
          </p>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <img
            src="{% static 'themes/bootstrap-fs/img/values-5.svg' %}"
            class="img-fluid"
            style="max-height: 180px"
            alt=""
          />
          <h3>CSS, JS and modern HTML templates</h3>
          <p>Promote the usage of modern frontend tools and libraries</p>
        </div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <img
            src="{% static 'themes/bootstrap-fs/img/values-4.svg' %}"
            class="img-fluid"
            alt=""
          />
          <h3>Quick page workflow</h3>
          <p>Promote a quick development of pages and the product workflow</p>
        </div>
      </div>

      <!--
          <div class="col-lg-3 mt-3 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'themes/bootstrap-fs/img/values-3.png' %}" class="img-fluid" alt="">
              <h3>Voluptatem voluptatum alias</h3>
              <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
            </div>
          </div> -->

      <div class="col-lg-3 mt-3 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <img
            src="{% static 'themes/bootstrap-fs/img/values-2.png' %}"
            class="img-fluid"
            alt=""
          />
          <h3>Service layer covered by tests</h3>
          <p>A specific business service layer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="521"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Projects</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-headset" style="color: #15be56"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="1463"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-people" style="color: #bb0852"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="15"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hard Workers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Tools</h2>
      <p>Libraries inside this project</p>
    </header>

    <!-- Feature Icons -->
    <div class="row feature-icons" data-aos="fade-up">
      <div class="row">
        <div
          class="col-xl-4 text-center"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <img
            src="{% static 'themes/bootstrap-fs/img/features-3.png' %}"
            class="img-fluid p-4"
            alt=""
          />
        </div>

        <div class="col-xl-8 d-flex content">
          <div class="row align-self-center gy-4">
            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <i class="bi bi-badge-3d"></i>
              <div>
                <h4>[Django] Django 3</h4>
                <p>
                  <a href="https://www.djangoproject.com/"
                    >https://www.djangoproject.com/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <i class="bi bi-calendar2-range"></i>
              <div>
                <h4>[Django] Django Floppyforms</h4>
                <p>
                  <a href="https://django-floppyforms.readthedocs.io"
                    >https://django-floppyforms.readthedocs.io</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <i class="bi bi-ui-radios"></i>
              <div>
                <h4>[Django] Django Debug Toolbar</h4>
                <p>
                  <a href="https://django-debug-toolbar.readthedocs.io/"
                    >https://django-debug-toolbar.readthedocs.io/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-bootstrap-fill"></i>
              <div>
                <h4>[JS] Bootstrap 5</h4>
                <p>
                  <a href="https://getbootstrap.com/"
                    >https://getbootstrap.com/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="ri-brush-4-line"></i>
              <div>
                <h4>[JS] Boostrap Icons</h4>
                <p>
                  <a href="https://icons.getbootstrap.com/"
                    >https://icons.getbootstrap.com/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="ri-command-line"></i>
              <div>
                <h4>[JS] Remix Icons</h4>
                <p>
                  <a href="https://remixicon.com/">https://remixicon.com/</a>
                </p>
              </div>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="ri-line-chart-line"></i>
              <div>
                <h4>[JS] Scrool animations</h4>
                <p>
                  <a href="https://michalsnik.github.io/aos/"
                    >https://michalsnik.github.io/aos/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="ri-magic-line"></i>
              <div>
                <h4>[JS] Glightbox - View images</h4>
                <p>
                  <a href="https://biati-digital.github.io/glightbox/"
                    >https://biati-digital.github.io/glightbox/</a
                  >
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <i class="ri-radar-line"></i>
              <div>
                <h4>[JS] Swiper - Slider touch</h4>
                <p>
                  <a href="https://swiperjs.com"
                    >https://swiperjs.com/get-started</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Feature Icons -->
  </div>
</section>
<!-- End Features Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Alternatives</h2>
      <p>Where we are?</p>
    </header>

    <div class="row gy-4" data-aos="fade-left">
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="box">
          <h3 style="color: #65c600">Django Template</h3>
          <div class="price"><sup>😊</sup>1a.<span> option</span></div>
          <img
            src="{% static 'themes/bootstrap-fs/img/pricing-starter.png' %}"
            class="img-fluid"
            alt=""
          />
          <ul>
            <li>Visual is a 2nd. plan</li>
            <li>It has CSS code inside .py files</li>
            <li>+Harder for the frontender</li>
            <li class="na">package.json</li>
            <li class="na">npm install</li>
          </ul>
          <a href="#" class="btn-buy">Sorry!</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="box">
          <span class="featured">Here</span>
          <h3 style="color: #ff901c">Django FF</h3>
          <div class="price"><sup>😛</sup>2a.<span> option</span></div>
          <img
            src="{% static 'themes/bootstrap-fs/img/pricing-business.png' %}"
            class="img-fluid"
            alt=""
          />
          <ul>
            <li>Visual is way important</li>
            <li>CSS and JS better organized</li>
            <li>+Easier for the frontender</li>
            <li>It has package.json</li>
            <li>Get packages using npm install</li>
          </ul>
          <a
            href="{% url {% endraw %}'{{ cookiecutter.main_app }}{% raw %}.getstarted' %}"
            class="btn-buy"
            >Go Go!</a
          >
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="box">
          <h3 style="color: #ff0071">JS Vanilla + API</h3>
          <div class="price"><sup>🤪</sup>3a.<span> opção</span></div>
          <img
            src="{% static 'themes/bootstrap-fs/img/pricing-ultimate.png' %}"
            class="img-fluid"
            alt=""
          />
          <ul>
            <li>Frontend is one project</li>
            <li>Backend API is another one</li>
            <li>Everything 100% separated</li>
          </ul>
          <a href="#" class="btn-buy">Coming soon</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->

<!-- ======= F.A.Q Section ======= -->
<!--
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">

            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    Non consectetur a erat nam at lectus urna duis?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">


            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Varius vel pharetra vel turpis nunc eget lorem dolor?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section>
    -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Gallery</h2>
      <p>Some images for fun...</p>
    </header>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-ux">UX</li>
          <li data-filter=".filter-software">Software</li>
          <li data-filter=".filter-code">Code</li>
        </ul>
      </div>
    </div>

    <div
      class="row gy-4 portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-software">
        <div class="portfolio-wrap">
          <img
            src="https://i.pinimg.com/564x/bd/d9/e2/bdd9e2adc4885374fa9218dc3f96ef1d.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a
                href="https://i.pinimg.com/564x/bd/d9/e2/bdd9e2adc4885374fa9218dc3f96ef1d.jpg"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="App 1"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ux">
        <div class="portfolio-wrap">
          <img
            src="https://i.pinimg.com/564x/47/e9/97/47e9974a5f8b27fa92d04c9c8528922b.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a
                href="https://i.pinimg.com/564x/47/e9/97/47e9974a5f8b27fa92d04c9c8528922b.jpg"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="Web 3"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software">
        <div class="portfolio-wrap">
          <img
            src="https://i.pinimg.com/564x/d4/cf/33/d4cf33e64eebe47f691e39bb17f39dae.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a
                href="https://i.pinimg.com/564x/d4/cf/33/d4cf33e64eebe47f691e39bb17f39dae.jpg"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="App 2"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-code">
        <div class="portfolio-wrap">
          <img
            src="https://i.pinimg.com/564x/c5/e1/3a/c5e13a12e014f4cb1cb20def98379f62.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a
                href="https://i.pinimg.com/564x/c5/e1/3a/c5e13a12e014f4cb1cb20def98379f62.jpg"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="Card 2"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ux">
        <div class="portfolio-wrap">
          <img
            src="https://www.researchgate.net/profile/Manuela_Quaresma/publication/322261633/figure/fig10/AS:580705307631621@1515462342812/Figura-10-Disciplinas-do-UX-Design-Fonte.png?epik=dj0yJnU9OXVmWm5mdVE1bTBsV05ESDlmeE9TdnlsaUVMcllNUzYmcD0wJm49Um13LXVMLXBuaVFrM09PQ01ETkV4QSZ0PUFBQUFBR0FVekZV"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a
                href="https://www.researchgate.net/profile/Manuela_Quaresma/publication/322261633/figure/fig10/AS:580705307631621@1515462342812/Figura-10-Disciplinas-do-UX-Design-Fonte.png?epik=dj0yJnU9OXVmWm5mdVE1bTBsV05ESDlmeE9TdnlsaUVMcllNUzYmcD0wJm49Um13LXVMLXBuaVFrM09PQ01ETkV4QSZ0PUFBQUFBR0FVekZV"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="Web 2"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software">
        <div class="portfolio-wrap">
          <img
            src="https://i.pinimg.com/564x/40/1e/9e/401e9ece1ac68affb47406f4c9ba9165.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a
                href="https://i.pinimg.com/564x/40/1e/9e/401e9ece1ac68affb47406f4c9ba9165.jpg"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="App 3"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="portfolio-details.html" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-software">
            <div class="portfolio-wrap">
              <img src="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-software">
            <div class="portfolio-wrap">
              <img src="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-code">
            <div class="portfolio-wrap">
              <img src="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'themes/bootstrap-fs/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>-->
    </div>
  </div>
</section>
<!-- End Portfolio Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>[npm|pip] install</h2>
      <p>Project's libraries</p>
    </header>

    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img
            src="https://camo.githubusercontent.com/a664defdd5c2ec93a3fbfb51e0f2aaafa5dc57bf1e13aa47456ced037b3cebe8/68747470733a2f2f676574626f6f7473747261702e636f6d2f646f63732f352e302f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://twilio-cms-prod.s3.amazonaws.com/original_images/django-dark.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://camo.githubusercontent.com/a664defdd5c2ec93a3fbfb51e0f2aaafa5dc57bf1e13aa47456ced037b3cebe8/68747470733a2f2f676574626f6f7473747261702e636f6d2f646f63732f352e302f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://twilio-cms-prod.s3.amazonaws.com/original_images/django-dark.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://camo.githubusercontent.com/a664defdd5c2ec93a3fbfb51e0f2aaafa5dc57bf1e13aa47456ced037b3cebe8/68747470733a2f2f676574626f6f7473747261702e636f6d2f646f63732f352e302f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://twilio-cms-prod.s3.amazonaws.com/original_images/django-dark.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Contact</h2>
      <p>Get in touch and contribute!</p>
    </header>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Earth</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-telephone"></i>
              <h3>Leve a message</h3>
              <p>+55 12 991 088 998</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p>huogerac@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-clock"></i>
              <h3>Working hours</h3>
              <p>Seg - Qui<br />13:30AM - 17:29PM</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form">
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your name"
                required
              />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required
              />
            </div>

            <div class="col-md-12">
              <textarea
                class="form-control"
                name="message"
                rows="6"
                placeholder="Message"
                required
              ></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>

              <a
                href="https://github.com/huogerac/cookiecutter-djangofloppyforms"
                class="btn btn-primary"
                >Send message</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock content %}

{% endraw %}